/* Main styling for overall alignment and font */
.NeoTool {
  font-family: 'Arial', sans-serif;
  color: #0054a4; /* Dark blue color from the logo */
  max-width: 600px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling the form elements */
.NeoTool h1 {
  color: #0054a4; /* Dark blue color from the logo */
  text-align: center;
  margin-bottom: 30px;
}

/* Inputs and labels */
.input-group label {
  color: #0054a4; /* Dark blue color from the logo */
  margin-right: 10px;
  font-weight: bold;
}

.input-group input[type='text'],
.input-group input[type='date'] {
  border: 1px solid #0079aa; /* Light blue color from the logo */
  padding: 8px;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 10px;
}

/* Specific widths for inputs */
.weeks-input {
  width: 40px;
  margin-bottom: 10px;
}

.days-input {
  width: 30px;
}

.weight-input {
  width: 40px;
  margin-bottom: 10px;
}

/* Button styling */
button {
  background-color: #0079aa; /* Light blue color from the logo */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0054a4; /* Dark blue color to match the logo */
}

/* Button container to organize button layout */
.button-container {
  display: flex;
  justify-content: space-between; /* Aligns buttons to each end */
  align-items: center; /* Centers buttons vertically */
}

.toggle-sort-button {
  padding: 5px 10px; /* Smaller padding */
  font-size: 0.8rem; /* Smaller font size */
  margin-right: 10px; /* Provides spacing between buttons */
}

.generate-button {
  /* If needed, add specific styles for the generate button here */
}




/* Output section styling */
.output-section h3 {
  color: #0054a4; /* Dark blue color from the logo */
  margin-top: 20px;
}

/* This controls the blocks */
.output-section div {
  background-color: #f2f2f2; /* Light background to contrast with the text */
  margin-bottom: 5px;
  margin-top: 5px; /* Adjusts the top margin to move the blocks up */
  margin-left: 7px;
  border-radius: 4px;
  padding: 0px; /* Adds padding inside the bubbles */
  box-sizing: border-box; /* Ensures padding is included in the width calculation */
  word-wrap: break-word; /* Ensures long words do not overflow */
  overflow-wrap: break-word; /* Allows words to break and wrap to the next line */
}




/* Media query for responsiveness */
@media (max-width: 600px) {
  .NeoTool {
    padding: 15px; /* Increased padding for better spacing */
  }

  .input-group {
    flex-direction: column;
    align-items: center; /* Align items to the center */
    width: 70%; /* Full width for better use of space */
  }

  .input-group label {
    margin-bottom: 10px; /* Increased bottom margin for clearer separation */
    width: 80%; /* Smaller width for labels */
    font-size: 16px; /* Larger font size for readability */
    text-align: center; /* Center align the text */
  }

  .input-group input {
    width: 80%; /* Smaller width for inputs */
    margin: 5px auto; /* Auto margin for horizontal centering */
    padding: 8px; /* Added padding for better touch interaction */
    font-size: 16px; /* Match font size with label for consistency */
  }

  button {
    width: 80%; /* Smaller width to match input fields */
    margin: 10px auto; /* Center the button */
    padding: 10px; /* Increased padding for a better touch area */
    font-size: 18px; /* Larger font size for visibility */
    color: white; /* Text color for contrast */
    border: none; /* Removing border for a cleaner look */
    border-radius: 5px; /* Rounded corners for a modern look */
    display: block; /* Block display to enable margin auto */
  }


    .button-container {
      flex-direction: row; /* Keeps buttons side by side on small screens */
      justify-content: space-between;
    }
  
    .toggle-sort-button, .generate-button {
      width: 45%; /* Adjusts width to fit smaller screens */
      margin: 5px; /* Smaller margin for compact layout */
    }
  
  


}

.past-date {
  color: red;
}

.current-date {
  color: green;
}

img {
  padding-left: 10em;
  max-width: 50%;
  height: auto px;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2; /* Light background to contrast with the text */
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.item-description {
  /* Your existing styles for the description */
}

.item-source {
  margin-left: auto;
  color: #0079aa; /* Light blue color to match the logo */
  text-decoration: none; /* Optional: Removes underline from links */
}

.NeoTool-footer {
  background-color: #f2f2f2; /* Light grey background */
  color: #333; /* Dark text for contrast */
  text-align: center;
  padding: 10px 20px; /* Reduced padding for a smaller footer */
  margin-top: 20px;
  border-top: 1px solid #ddd; /* Light grey border for separation */
  border-radius: 15px; /* Rounded corners */
  font-size: 0.8rem; /* Smaller font size */
  width: auto; /* Adjust width as needed, or use 'auto' for natural width */
  margin-left: auto; /* Center the footer if width is less than 100% */
  margin-right: auto; /* Center the footer if width is less than 100% */
}