/* Main styling for overall alignment and font */
.NeoTool {
  font-family: 'Arial', sans-serif;
  color: #0054a4; /* Dark blue color from the logo */
  max-width: 600px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling the form elements */
.NeoTool h1 {
  color: #0054a4; /* Dark blue color from the logo */
  text-align: center;
  margin-bottom: 30px;
}

/* Inputs and labels */
.input-group label {
  color: #0054a4; /* Dark blue color from the logo */
  margin-right: 10px;
  font-weight: bold;
}

.input-group input[type='text'],
.input-group input[type='date'] {
  border: 1px solid #0079aa; /* Light blue color from the logo */
  padding: 8px;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 10px;
}

/* Specific widths for inputs */
.weeks-input {
  width: 40px;
  margin-bottom: 10px;
}

.days-input {
  width: 30px;
}

.weight-input {
  width: 40px;
  margin-bottom: 10px;
}

/* Button styling */
button {
  background-color: #0079aa; /* Light blue color from the logo */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0054a4; /* Dark blue color to match the logo */
}

/* Output section styling */
.output-section h3 {
  color: #0054a4; /* Dark blue color from the logo */
  margin-top: 20px;
}

/* This controls the blocks */
.output-section div {
  background-color: #f2f2f2; /* Light background to contrast with the text */
  margin-bottom: 5px;
  margin-top: 5px; /* Adjusts the top margin to move the blocks up */
  margin-left: 7px;
  border-radius: 4px;
  padding: 0px; /* Adds padding inside the bubbles */
  box-sizing: border-box; /* Ensures padding is included in the width calculation */
  word-wrap: break-word; /* Ensures long words do not overflow */
  overflow-wrap: break-word; /* Allows words to break and wrap to the next line */
}




/* Media query for responsiveness */
@media (max-width: 768px) {
  .NeoTool {
    padding: 10px;
  }

  .input-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .input-group label {
    margin: 5px 0;
  }

  .input-group input {
    margin: 5px 0;
  }

  button {
    width: 100%;
  }

  .output-section div {
    width: 97%;
  }

  
}


.past-date {
  color: red;
}

.current-date {
  color: green;
}

img {
  padding-left: 10em;
  max-width: 50%;
  height: auto px;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2; /* Light background to contrast with the text */
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.item-description {
  /* Your existing styles for the description */
}

.item-source {
  margin-left: auto;
  color: #0079aa; /* Light blue color to match the logo */
  text-decoration: none; /* Optional: Removes underline from links */
}